<div class="container">
  <mat-accordion class="example-headers-align">
    <h3 mat-subheader>
      Weather in&nbsp;
      <b>{{weatherCast?.city.name}}, {{weatherCast?.city.country}}</b>
    </h3>
    <ng-container *ngFor="let cast of weatherCast?.list; let index = index">
      <mat-expansion-panel *ngIf="index % 8 == 0" [expanded]="selected == index" (opened)="selected=index" hideToggle="true">
        <mat-expansion-panel-header>
          <mat-panel-title class="temp-title">
            <img class="weather-widget__img" src="assets/weather-icons/{{cast.weather[0].icon}}.png" alt="Weather London , GB" width="50"
              height="50">
            <span class="temp-current">{{cast.main.temp}}</span>&#8451;
            <b class="temp-status">- {{cast.weather[0].main}}</b>
          </mat-panel-title>
          <mat-panel-description class="description">

            <small>min</small>
            <span class="temp">{{cast.main.temp_min}}</span>&#8451; &nbsp;-&nbsp;
            <small>max</small>
            <span class="temp">{{cast.main.temp_max}}</span>&#8451;
            <span *ngIf="cast.clouds && cast.clouds.all > 0"></span>{{cast.clouds.all}}&nbsp;
            <span *ngIf="cast.rain">{{cast.rain['3h']}}&nbsp;</span>
            <span *ngIf="cast.wind">{{cast.wind.main}}&nbsp;</span>
            {{cast.dt_txt | date}}
          </mat-panel-description>
        </mat-expansion-panel-header>
        <mat-divider></mat-divider>
        <mat-list dense>
          <mat-list-item *ngFor="let item of weatherCast?.list | slice: index: index+7">
            <img class="weather-widget__img" src="assets/weather-icons/{{cast.weather[0].icon}}.png" alt="Weather London , GB" width="50"
              height="50">
            <span class="temp-current">{{item.main.temp}}</span>&#8451;
            {{item.dt_txt | date: 'hh:mm a'}}
          </mat-list-item>
        </mat-list>
      </mat-expansion-panel>
    </ng-container>

  </mat-accordion>
</div>