<div class="container">
  <mat-list>
    <h3 mat-subheader>{{weatherCast?.city.name}}, {{weatherCast?.city.country}}</h3>
    <ng-container *ngFor="let cast of weatherCast?.list; let index = index">
      <mat-list-item *ngIf="index % 8 == 0">
        <!-- <mat-icon mat-list-icon>folder</mat-icon> -->
        <div mat-line> 
          <ul>
            <li *ngFor="let weather of cast.weather">
              {{weather.main}} {{weather.description}}
            </li>
          </ul>
        </div>
        <div mat-line> 
          <ul>
            <li *ngFor="let weather of cast.weather">
              {{weather.main}} {{weather.description}}
            </li>
          </ul>
        </div>
        <p mat-line> {{cast.dt_txt | date}} </p>
      </mat-list-item>
    </ng-container>
  </mat-list>
</div>