<div class="container">
  <mat-list>
    <h3 mat-subheader>
      Weather in&nbsp;
      <b>{{weatherCast?.city.name}}, {{weatherCast?.city.country}}</b>
    </h3>
    <ng-container *ngFor="let cast of weatherCast?.list; let index = index">
      <mat-list-item *ngIf="index % 8 == 0">
        <p mat-line> 
          Main: 
          <span>
            {{cast.main.grnd_level}} {{cast.main.description}}
          </span>
        </p>
        <p mat-line> 
          Clouds: 
          <span>
            {{cast.clouds.all}}
          </span>
        </p>
        <p mat-line> 
          Rain: 
          <span>
            {{cast.rain['3h']}}
          </span>
        </p>
        <p mat-line> 
          Weather
          <span>
            <span *ngFor="let weather of cast.weather">
              {{weather.main}} {{weather.description}}
            </span>
          </span>
        </p>
        <p mat-line> 
          Wind
          <span>
            {{cast.wind.main}} {{cast.wind.description}}
          </span>
        </p>
        <p mat-line> {{cast.dt_txt | date}} </p>
      </mat-list-item>
    </ng-container>
  </mat-list>
</div>